<!-- <app-example name="Steve" age=21 hairColour="None"></app-example> -->

<!-- Use the ng template for this component becuase name is not supplied. -->
<app-example></app-example>

<!-- <app-people-list></app-people-list> -->
<!-- <app-event-handling></app-event-handling> -->

<!-- <app-multiple-choice
  (a)="doSomething()"
  (b)="doSomethingElse()"
  (c)="doSomething()"
  (d)="doAnotherThing()"
></app-multiple-choice> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
